html {
  box-sizing: border-box;
  color: #333;
  font-family: "cronos-pro-display", sans-serif;
  font-kerning: normal;
  font-size: 16px;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "kepler-std-display", serif;
  font-weight: 400;
  margin: 1rem 0 0.5rem;
}

p {
  margin: 0 0 30px 0;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
