.layout {
  display: grid;
  grid-template-rows: [top] 250px [main] auto;
  grid-template-areas:
    "logo"
    "main";

  min-height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  align-self: center;
  grid-area: logo;
  justify-self: center;
  padding: 1rem 3rem;
}

.logo {
  max-width: 450px;
  width: 100%;
}

.grid {
  display: grid;
}

@media (min-width: 500px) {
  .grid {
    column-gap: 2rem;
  }

  .grid23 {
    grid-template-columns: 5fr 4fr;
  }

  .grid3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.spaced {
  margin-bottom: 2rem;
}
